{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Summary</h1>
      <p>{{ summary }}
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <a type="button" href="/kld" class="btn btn-secondary">KL Divergence</a>
          <a type="button" href="/lsa" class="btn btn-secondary">LSA</a>
          <a type="button" href="/textrank" class="btn btn-secondary">Text Rank</a>
          <a type="button" href="/spacy" class="btn btn-secondary">spaCy</a>
          <a type="button" href="/lexrank" class="btn btn-secondary">Lex Rank</a>
        </div>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}